{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="titre-formation"><h1>{{ title }}</h1></div>

<div class="container">
    {{ form(form) }}
    <button type="submit">Enregistrer</button>

    <div class="row">
        <div class="col-md" id="salut1">azeazeaze </div>
        <div class="col-md" id="salut2"> azeazazeaze</div>
        <div class="col-md" id="salut3">    azeze</div>
    </div>
</div>

{% endblock %}
