{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="titre-formation"><h1>{{ title }}</h1></div>
<div class="row">
        <div class="row">
                <div class="col  col-11 col-md-5 col-lg-4">
                        <div class="card">
                        <div class="titre-card"> <h4>Titre cour </h4> </div>
                        <img class="card-img-top" src="https://dummyimage.com/600x400/000/fff" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Vel aliquid modi ut sapiente recusandae aut quisquam nobis ut ipsam quae et corporis autem. Sed omnis harum vel quam voluptate qui impedit magnam aut magnam dolorem ea minus quaerat et velit vero et quos officiis!.</p>
                        </div>
                    </div>
                </div>
            <div class="col  col-11 col-md-5 col-lg-4">
                <div class="card ">
                    <div class="titre-card"> <h4>Titre cour </h4> </div>
                    <img class="card-img-top" src="https://dummyimage.com/600x400/000/fff" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Vel aliquid modi ut sapiente recusandae aut quisquam nobis ut ipsam quae et corporis autem. Sed omnis harum vel quam voluptate qui impedit magnam aut magnam dolorem ea minus quaerat et velit vero et quos officiis!.</p>
                    </div>
                </div>
            </div>
            <div class="col col-11 col-md-5 col-lg-4">
                <div class="card ">
                    <div class="titre-card"> <h4>Titre cour </h4> </div>
                    <img class="card-img-top" src="https://dummyimage.com/600x400/000/fff" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Vel aliquid modi ut sapiente recusandae aut quisquam nobis ut ipsam quae et corporis autem. Sed omnis harum vel quam voluptate qui impedit magnam aut magnam dolorem ea minus quaerat et velit vero et quos officiis!.</p>
                    </div>
                </div>
            </div>
            <div class="col col-11 col-md-5 col-lg-4">
                <div class="card ">
                    <div class="titre-card"> <h4>Titre cour </h4> </div>
                    <img class="card-img-top" src="https://dummyimage.com/600x400/000/fff" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Vel aliquid modi ut sapiente recusandae aut quisquam nobis ut ipsam quae et corporis autem. Sed omnis harum vel quam voluptate qui impedit magnam aut magnam dolorem ea minus quaerat et velit vero et quos officiis!.</p>
                    </div>
                </div>
            </div>
            <div class="col col-11 col-md-5 col-lg-4">
                <div class="card ">
                    <div class="titre-card"> <h4>Titre cour </h4> </div>
                    <img class="card-img-top" src="https://dummyimage.com/600x400/000/fff" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Vel aliquid modi ut sapiente recusandae aut quisquam nobis ut ipsam quae et corporis autem. Sed omnis harum vel quam voluptate qui impedit magnam aut magnam dolorem ea minus quaerat et velit vero et quos officiis!.</p>
                    </div>
                </div>
            </div>
            <div class="col col-11 col-md-5 col-lg-4">
                <div class="card ">
                    <div class="titre-card"> <h4>Titre cour </h4> </div>
                    <img class="card-img-top" src="https://dummyimage.com/600x400/000/fff" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Vel aliquid modi ut sapiente recusandae aut quisquam nobis ut ipsam quae et corporis autem. Sed omnis harum vel quam voluptate qui impedit magnam aut magnam dolorem ea minus quaerat et velit vero et quos officiis!.</p>
                    </div>
                </div>
            </div>
            <div class="col col-11 col-md-5 col-lg-4 ">
                <div class="card ">
                    <div class="titre-card"> <h4>Titre cour </h4> </div>
                    <img class="card-img-top" src="https://dummyimage.com/600x400/000/fff" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Vel aliquid modi ut sapiente recusandae aut quisquam nobis ut ipsam quae et corporis autem. Sed omnis harum vel quam voluptate qui impedit magnam aut magnam dolorem ea minus quaerat et velit vero et quos officiis!.</p>
                    </div>
                </div>
            </div>
            <div class="col col-11 col-md-5 col-lg-4 ">
                <div class="card ">
                    <div class="titre-card"> <h4>Titre cour </h4> </div>
                    <img class="card-img-top" src="https://dummyimage.com/600x400/000/fff" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Vel aliquid modi ut sapiente recusandae aut quisquam nobis ut ipsam quae et corporis autem. Sed omnis harum vel quam voluptate qui impedit magnam aut magnam dolorem ea minus quaerat et velit vero et quos officiis!.</p>
                    </div>
                </div>
            </div>
            <div class="col col-11 col-md-5 col-lg-4">
                <div class="card">
                    <div class="titre-card"> <h4>Titre cour </h4> </div>
                    <img class="card-img-top" src="https://dummyimage.com/600x400/000/fff" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Vel aliquid modi ut sapiente recusandae aut quisquam nobis ut ipsam quae et corporis autem. Sed omnis harum vel quam voluptate qui impedit magnam aut magnam dolorem ea minus quaerat et velit vero et quos officiis!.</p>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}


