{% extends 'base.html.twig' %}

{% block title %}{% endblock %}



{% block body %}

    <div class="content">
        <h1>Eco-IT</h1>
        <p>C’est un fait, la <i>crise écologique</i> est devenue une urgence majeure. La sixième extinction
            massive a déjà commencé<br>le changement climatique se fait de plus en plus ressentir au fil
            des années. Mais qu’en est-il d’<i>internet</i> ?</p>
        <div>
            <button class ="button" type="button"><span></span>POSTULER</button>
            <button class ="button" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><span></span>EN SAVOIR PLUS</button>
            <button class ="button" type="button"><span></span>S'INSCRIRE</button>
        </div>
    </div>

{% endblock %}
