
    {% apply markdown_to_html %}
    Bievenu !
    ===========================



    Vous vous êtes enregistré sur notre site;

    <a href="{{ signedUrl }}">**Confirmez votre adresse mail**</a>.
    Ce lien expire dans : {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.


    Visitez notre [**site**](https://github.com/HugoD66/Ecoit-Ecf.git) !
{% endapply %}
