{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

<div class="content">
    <div class="titre-formation"><h1>Eco-IT</h1></div>

        <p>Vous vous êtes enregistré, Allez vérifier vos mails pour completer votre inscription.</p>
    <div>
        <div>
            <button class="button" type="button"><span></span><a href="{{ path('app_home') }}">RETOUR</a></button>
        </div>
        <img src="{{ asset('image/congrats.png') }}" class="image.congrats" alt="Defense acces page"/>
    </div>
</div>

{% endblock %}
