{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="titre-formation"><h1>{{ title }}</h1></div>
    <div class="postuler-form">

    </div>
{% endblock %}
