@import "custom";
@import "~bootstrap/scss/bootstrap";

$font-paragraph: Consolas, serif;
$font-title: New  Bodoni MT , serif;
$font-button: Century Gothic, sans-serif;

$background-button: rgba(168, 80, 67, 0.67);
$shadow-border-button:  0px 0px 20px 5px #25a37b;
$border-color: #22926d;
$background-transparant: rgba(168, 80, 67, 0.33);
$green-not-dark: 0px 0px 19px rgba(51, 172, 51, 0.99);

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-y: hidden;
}
#back {
  z-index: -1;
  position: fixed;
  background-position: center;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
}
.container-fluid {
  display: flex;
  align-items: flex-start;
  .logo {
    width:135px;
    height:135px;
    filter: brightness(1.90);
  }
  #navbarsExample03 {
    background: linear-gradient(198deg, rgba(2,0,36,1) 0%, $border-color 0%, rgba(43,208,134,0) 100%);
    border-radius: 20px;
    height: 120px;
    filter: brightness(1.90);
  }
  .nav-item {
    font-weight: 550;
    text-shadow: 0px 0px 19px rgba(61, 157, 61, 0.9);
    filter: light(1.9);
  }
}

.navbar ul li a {
  color: black;
  text-transform: uppercase;
  font-size: 17px;
  overflow-x: hidden;
  &:hover {
    text-decoration: rgba(68, 136, 68, 0.90) underline 6px;
  }
}
.content {
  width: 100%;
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: black;
  h1 {
    font-size: 100px;
    margin-top: 80px;
    font-family: $font-title;
    color: black;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 0 0 10px rgb(27, 130, 76);
  }
  p {
    font-weight: bold;
    color: black;
    font-family: $font-paragraph;
    font-size: 18px;
    margin: 20px auto;
    line-height: 25px;
  }
}
.button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  border-radius: 25px;
  font-weight: bolder;
  border: 2px solid rgba(34, 108, 87, 0.9);
  background: transparent;
  text-decoration: underline;
  color: black;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin: 10px;
    a {
      color: black;
      font-weight: bolder;
    }
  &:hover span{
    width:100%;
  }
  &:hover {
    border:none;
  }
}
span {
  background: $border-color;
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
.footer section {
  overflow-x: hidden;
  position: absolute;
  bottom: 0;
  height:50px;
  width: 100%;
  font-family: $font-paragraph;
  .btn{
    background-color: $background-button;
    border-color: $green-not-dark;
    color: rgba(168, 80, 67, 0.11);
  }
  img {
    color: $green-not-dark;
    margin: 10px;
    }
}
.contact {
  font-family: $font-title;
  position: absolute;
  bottom: 20px;
  height:50px;
  width: 100%;
  color: black;
  .image.congrats {
    height:20%;
    width:20%;
  }
}
.modal {
  .modal-content {
    font-size: large;
    font-family: $font-paragraph;
    text-align: center;
    border-color: $font-button;
    border-radius: 10px;
    color: white;
}
  .back-modal {
    position: fixed;
    background-size: cover;
    width: 498px;
    height: 578px;
  }
  #titre-modal {
    z-index:2;
    font-size: xx-large;
    font-family: $font-title;
  }
  button {
    border-radius: 12px;
    border: 1px solid white;
    color: whitesmoke;
    background-color: $background-button;
  }
}
.titre-formation {
  text-decoration: underline $border-color 8px;
  text-align: center;
  margin: 15px;
  padding:10px;
  font-family: $font-title;
  color: white;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: $border-color;
}
::-webkit-scrollbar-thumb {
  background: $background-button;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.69);
}
.card {
  border: 2px solid $shadow-border-button;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  display: inline-block;
  font-family: $font-paragraph;
}
.titre-card {
  text-align: center;
  padding: 5px;
  margin-top: 12px;
  text-decoration: underline;
}
#modal2 {
  background-color: rgba(68, 136, 68, 0.58);
  border: 5px $background-button solid;
  > .card {
    margin: 20px;
    border: 2px solid black;
  }
}
.connexion-form {
  z-index: 1;
  position: relative;
  top: auto;
  left: 23%;
  text-align: center;
  height: 64%;
  width: 55%;
  font-family: $font-paragraph;
  justify-content: center;
  margin-bottom: 43%;
  label {
      margin: 4%;
      font-size: 28px;
      color: black;
    }
    input {
      position: relative;
      left: 7%;
      width: 85%;
      height: 34px;
    }
  .button {
    margin-top: 5%;
    padding: 20px;
    font-family:  $font-button;
  }
}
#formation {
  position: relative;
  width: 90%;
  overflow-y: auto;
  max-height: 1020px;
  scroll-margin-block: 10px;
  margin-bottom: 80px;
}





















.contain-register {
  background-color: rgba(188,76,63,0.29);
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  vertical-align:middle;
  width:80%;
  .col {
    font-size: 25px;
  }
  div {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  #carethermes {
    text-align: center;
  }
}

















#seconnecter {
  background-image: url("../../public/image/login-picture.jpg");
  max-height: 950px;
  overflow-y: auto;
  scroll-margin-block: 10px;
}

#sinscrire {
  background-image: url("../../public/image/liste-cour.jpg");
}
.premiere-visite {
  font-family:  $font-button;
  display:flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 576px ) {
  .nav-item {
    transform: rotate(45deg);
  }
   #navbarsExample03 {
     height: 250px;
  }
}
@media screen and (min-width: 576px ) {
  .card {
    width: 100%;
  }
}
@media screen and (min-width: 980px) {
  #button-reglage {
    border-radius: 75px;
    border: 4px solid $border-color;
  }
}
#button-reglage {
  z-index: 3;
  width:150px;
  height: 150px;
  position: fixed;
  padding: 4px 4px 4px 4px;
  bottom: 0;
  left: 0;
  right: 0;
}
#connecteentemps {

  font-size: 28px;
  color: $border-color;
  font-weight: bold;
  font-family: $font-paragraph;
}























.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  #salut1 {
    background-color: #386f0f;
  }
  #salut2 {
    background-color: azure;
  }
  #salut3 {
    background-color: darkcyan;
  }
  #gestion-postuler {
    background-color: #5eb5e0;
  }
  #table-users {
    background-color: green;
  }
}

/**
#enregistrement {
      position: absolute;
      height: 34px;
    }


#postuler {
  position: relative;
  background-color: #DDDDDD ;
  overflow-y: scroll;
  max-height: 1020px;
  scroll-margin-block: 10px;


  .postuler-form {
  background-color: rgba(188,76,63,0.29);
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
} */