{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="titre-formation"><h1>{{ title }}</h1></div>

    <div class="container">
        <div class="row rowgestion">
            <div class="col-12 col-lg-6">
                <div class="panneau-gauche">
                    <h3>Vous êtes connecté en temps que : </h3>
                    <ul>
                        <li>Nom d'utilisateur : </li>
                        <li>Email de l'utilisateur : </li>
                        <li>Poste de l'utilisateur : </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="panneau-droit">
                    <h3>Créer une Formation: </h3>
                    <ul>
                        <li>Nom d'utilisateur : </li>
                        <li>Email de l'utilisateur : </li>
                        <li>Poste de l'utilisateur : </li>
                        <li>Nom d'utilisateur : </li>
                        <li>Email de l'utilisateur : </li>
                        <li>Poste de l'utilisateur : </li> <li>Nom d'utilisateur : </li>
                        <li>Email de l'utilisateur : </li>
                        <li>Poste de l'utilisateur : </li>
                        <li>Nom d'utilisateur : </li>
                        <li>Email de l'utilisateur : </li>
                        <li>Poste de l'utilisateur : </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
