{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="content">
        <h1>Eco-IT</h1>
            <p>Vous n'avez pas les droits d'accés à cette page.Contactez votre administrateur,ou inscrivez vous.</p>
        <div>
            <button class="button" type="button"><span></span><a href="{{ path('register') }}">S'INSCRIRE</a></button>
            <button class="button" type="button"><span></span><a href="{{ path('app_home') }}">RETOUR</a></button>
        </div>
        <img src="{{ asset('image/droitacces.png') }}" alt="Defense acces page"/>
    </div>
{% endblock %}